# Базовые структуры данных



## Домашнее задание 

### Описание домашнего задания и формат сдачи

В домашнем задании необходимо решить предложенные задачи по программированию – вписать свой код в ячейки после условий задач вместо комментария `### YOUR CODE HERE ###` в файле *jun_anl_data_structures.ipynb* и сохранить изменения, используя опцию *Save and Checkpoint* из вкладки меню *File* или кнопку *Save and Checkpoint* на панели инструментов. Итоговый файл в формате `.ipynb` (файл Jupyter Notebook) необходимо загрузить в личный кабинет обучающей онлайн платформы Skillbox (https://go.skillbox.ru/) и отправить на проверку.

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [3]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [4]:
L[0][0][6]

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [5]:
L[2][1][2]

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [6]:
L[3][7][1][2]

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [8]:
L[-1][-2]

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [9]:
L[-2][-3:-2]

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [10]:
L[2][1][1][:]

[47, 48]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [11]:
L[-2][-2][-2][1:]

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [14]:
list(range(3, 5))

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [17]:
list(range(4, 17, 4))

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [18]:
list(range(16, 3, -4))

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [22]:
list(range(0, 11, 5))

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [24]:
list(range(10, -1, -5))

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [25]:
list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [26]:
list(range(-10, -35, -6))

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [30]:
n = int(input('Введите количество секунд, прошедших с начала суток: '))
hours = (n // 3600) % 24
n = n % 3600
minutes = n // 60
seconds = n % 60
print(hours, end=':')
print(minutes // 10, minutes % 10, sep='', end=':')
print(seconds // 10, seconds % 10, sep='')

Введите количество секунд, прошедших с начала суток: 3489739
9:22:19

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [33]:
distMKAD = 109
v = int(input('Введите скорость: '))
t = int(input('Введите количество часов: '))
dist = v * t
print(dist % distMKAD)

Введите скорость: 110
Введите количество часов: 1
1

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [36]:
num = input('Введите целое пятизначное число: ')
sum = int(num[0]) + int(num[1]) + int(num[2]) + int(num[3]) + int(num[4])
print(sum)

Введите целое пятизначное число: 12345
15

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [38]:
num = input('Введите целое четырехзначное число: ')
res = num[2] + num[3] + num[0] + num[1]
print(res)

Введите целое четырехзначное число: 4563
6345

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [43]:
d = int(input('Сколько километров в день преодолевает машина: '))
p = int(input('Длина пути: '))
print((p - 1) // d + 1)

Сколько километров в день преодолевает машина:1
Длина пути: 100
100

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

In [47]:
r, k = input('Стоимость авокадо (рублей, копеек через пробел): ').split(' ')
n = int(input('Количество авокадо: '))

cost = int(r) * 100 + int(k)
summ = cost * n
summ_r = summ // 100
summ_k = summ % 100
print(f'{summ_r} руб. {summ_k // 10}{summ_k % 10} коп.')

Стоимость авокадо (рублей, копеек через пробел): 0 20
Количество авокадо: 1
0 руб. 20 коп.

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

In [48]:
first_name, patronimic, last_name = input('IOF: ').split(' ') 
print(last_name, first_name, patronimic)

IOF: Иван Иванович Иванов
Иванов Иван Иванович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [54]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

In [55]:
element_to_replace = input()
replacement = input()
order[order.index(element_to_replace)] = replacement
print(order)

белое вино
красное вино
['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']

__________________
Вам дан словарь c расписанием на неделю.

In [71]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [72]:
diary.pop('суббота')
diary.pop('воскресенье')
diary.setdefault(('суббота', 'воскресенье'), ['посадить цветы на даче'])
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [73]:
diary['вторник']['утро'].append('поход к зубному')
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в театр', 'ужин в кафе']}, ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [74]:
# здесь немного не поняла, надо искать элемент 'поход в театр, или можно обратиться по индексу.'
diary['пятница']['вечер'][0] = 'поход в кино'
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в кино', 'ужин в кафе']}, ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [75]:
diary['четверг']['утро'].remove('погулять с собакой')
diary['четверг']['вечер'].remove('погулять с собакой')
print(diary)

{'понедельник': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'], 'день': [], 'вечер': ['погулять с собакой']}, 'среда': {'утро': ['погулять с собакой'], 'день': [], 'вечер': ['погулять с собакой']}, 'четверг': {'утро': [], 'день': [], 'вечер': []}, 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'], 'день': [], 'вечер': ['поход в кино', 'ужин в кафе']}, ('суббота', 'воскресенье'): ['посадить цветы на даче']}

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [76]:
diary['пятница']['утро'][1]

'помыть машину'